<div class="chat-box shadow-lg text-color">

  <%= link_to(@user) do %>
    <%= image_tag @user.get_profile_image(40, 40), class: "rounded-circle" %>
    <span class="text-color" style="font-weight: bold; font-size: 20px; margin-left: 10px;"><%= @user.name %></span>
  <% end %>

  <div class="message mt-3" style="width: 470px; max-height: calc(100% - 100px); overflow-y: auto;">
    <% @chats.each do |chat| %>
      <% if chat.user_id == current_user.id %>
        <%= render "user/chats/chat", chat: chat %>
      <% else %>
        <div class="left-container d-flex align-items-center">
          <%= image_tag @user.get_profile_image(40, 40), style: 'border-radius: 50%;' %>
          <p class="ml-2 mb-3" style="text-align: left;">
            <span class="their-message mt-2">
              <%= chat.message %>
            </span>
          </p>
        </div>
      <% end %>
    <% end %>
  </div>

  <div style="position: absolute; bottom: 15px; right: 32px; width: calc(100% - 20px;">
    <%= form_with model: @chat, data: {remote: true} do |f| %>
      <div style="display: flex; align-items: center;">
        <%= f.text_area :message, class: "message-text-area", rows: 1 %>
        <%= button_tag(type: 'submit', class: "btn btn-sm message-send-button ml-2 mb-1", style: "width: 45px;") do %>
          <i class="fa-solid fa-paper-plane"></i>
        <% end %>
        <%= f.hidden_field :room_id %>
      </div>
    <% end %>
  </div>
</div>