<div class="cotainer text-color">
  <%= render "user/shared/error_messages", resource: @user %>

  <%= form_with model: @user, url: user_session_path do |f| %>
  <table class="d-flex justify-content-center" style="width: 80%; margin: auto; margin-top: 55px;">
    <tbody>
      <tr>
        <td class="text-center" style="font-weight: bold; font-size: 30px;">
          ログイン <i class="fa-solid fa-right-to-bracket"></i>
        </td>
      </tr>
      <tr>
        <td>
          <div style="margin-top: 30px;">
            <strong>メールアドレス</strong> <span class="badge badge-danger">必須</span>
          </div>
          <div>
            <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div style="margin-top: 30px;">
            <strong>パスワード</strong> <span class="badge badge-danger">必須</span>
          </div>
          <div>
            <%= f.password_field :password, autocomplete: "current-password" %>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="mt-4 text-center">
            <%= f.submit "ログイン", class: "btn btn-dark sign-up-button", style: "border-radius: 25px;" %>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  <% end %>

  <div class="row d-flex justify-content-center mt-5">
    <%= render "user/shared/links" %>
  </div>

  <div class="row d-flex justify-content-center text-color mt-2" style="margin-bottom: 150px;">
    <%= link_to "※管理者ログインはこちら", new_admin_session_path, style: "color: #33231d;" %>
  </div>




