<h1>admin/posts/show</h1>

<div class="shadow-lg card mb-5 mt-5" style="width: 60%; margin: auto; border-radius: 25px; overflow: hidden;">
  <div class="card-header d-flex justify-content-between align-items-center">
    <div class="d-flex align-items-center">
      <%= link_to admin_user_path(@post.user) do %>
        <%= image_tag @post.user.get_profile_image(50, 50), class: "rounded-circle" %>
        <span style="font-weight: bold; font-size: 20px; margin-left: 10px; color: black;"><%= @post.user.name %>
      <% end %>
    </div>
    <% if admin_signed_in? %>
      <div class="ml-auto d-flex">
        <%= link_to '削除 <i class="fa-solid fa-trash-can"></i>'.html_safe, admin_post_path, method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-outline-danger"%>
      </div>
    <% end %>
  </div>

  <div class="card-body">
    <% if @post.post_image.attached? %>
      <%= image_tag @post.post_image, class: "card-img-top", style: "width: 100%;" %>
    <% else %>
      <%= image_tag 'no_image2.png', class: "card-img-top", style: "width: 100%;" %>
    <% end %>
    <h5 class="card-title" style="font-weight: bold; font-size: 30px; margin-top: 20px;" ><%= @post.title %></h5>
    <i class="fa-regular fa-clock ml-2"></i> 投稿日：<%= @post.created_at.strftime("%Y年%m月%d日") %>
    <span style="margin: 0 6px;">&nbsp;</span>
    <i class="fa-solid fa-rotate-right"></i> 最終変更日：<%= @post.updated_at.strftime("%Y年%m月%d日") %>
    <p class="card-text mt-3" style="font-size: 20px"><%= @post.body %></p>
    <div class="d-flex justify-content-left ml-2">
      <i class="fa-regular fa-heart fa-2x mr-1" style="color: #343a40;"></i>
      <span style="font-size: 24px;"><%= @post.likes.count %></span>
      <i class="fa-regular fa-comment-dots fa-2x ml-3 mr-1" style="color: #343a40;"></i>
      <span style="font-size: 24px;"><%= @post.post_comments.count %></span>
    </div>

    <table class="mt-3">
      <% @post.post_comments.each do |post_comment| %>
      <tr>
        <td>
          <%= link_to admin_user_path(post_comment.user) do %>
            <%= image_tag post_comment.user.get_profile_image(30, 30), class: "rounded-circle ml-2" %>
          <% end %>
        </td>
        <td class="ml-3">
          <%= post_comment.body %>
          <% if admin_signed_in? %>
            <%= link_to "<i class='fa-regular fa-trash-can'></i>".html_safe,
            admin_post_post_comment_path(@post, post_comment), method: :delete,
            data: { confirm: '本当に消しますか？' },
            class: "btn btn-sm btn-outline-danger rounded-circle float-end ml-3" %>
          <% end %>
        </td>
      </tr>
      <% end %>
    </table>

  </div>
</div>