<div class="container">
  <%= render "user/shared/error_messages", resource: @user %>
  <h1 class ="text-center mt-5">プロフィール編集</h4><br>

  <%= form_with model: @user, url: update_mypage_path, method: :patch do |f| %>
  <table class="table">
    <tbody>
      <tr>
        <td colspan="2" style="width: 50%; text-align: center;"><%= f.file_field :profile_image, accept: "image/*" %></td>
        <td colspan="2" style="width: 50%;">
          <div>
            <strong>ユーザーネーム</strong> <span class="badge badge-danger">必須</span>
          </div>
          <div>
            <%= f.text_field :name, class: "form-control name" %>
          </div>
        </td>
      </tr>
      <tr>
        <td colspan="1" style="width: 25%;"><strong>プロフィール</strong></td>
        <td colspan="3" style="width: 75%;"><%= f.text_area :bio, class: 'form-control' %></td>
      </tr>
      <tr>
        <td style="width: 25%;"><strong>性別</strong></td>
        <td style="width: 25%;">
          <%= f.select :gender, @gender_options, { include_blank: '選択してください' }, class: 'form-control' %>
        </td>
        <td style="width: 25%;"><strong>年齢</strong></td>
        <td style="width: 25%;">
          <%= f.select :age, @age_options, { include_blank: '選択してください' }, class: 'form-control' %>
        </td>
      </tr>
      <tr>
        <td><strong>喫煙</strong></td>
        <td>
          <%= f.select :smoking, @smoking_options, { include_blank: '選択してください' }, class: 'form-control' %>
        </td>
        <td><strong>飲酒</strong></td>
        <td>
          <%= f.select :drinking, @drinking_options, { include_blank: '選択してください' }, class: 'form-control' %>
        </td>
      </tr>
      <tr>
        <td><strong>行った国数</strong></td>
        <td>
          <%= f.text_field :country_count, class: 'form-control', placeholder: "数字を入力"%>
        </td>
        <td><strong>好きな地域</strong></td>
        <td>
          <%= f.select :favorite_area, @favorite_area_options, { include_blank: '選択してください' }, class: 'form-control' %>
        </td>
      </tr>
      <tr>
        <td><strong>予算</strong></td>
        <td>
          <%= f.select :budget, @budget_options, { include_blank: '選択してください' }, class: 'form-control' %>
        </td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td style="text-align: right; padding-top: 40px;">
          <%= link_to "退会する", confirm_users_path, class: "btn btn-danger" %>
        </td>
        <td style="padding-top: 40px;">
          <%= f.submit "保存する", class: "btn btn-dark" %>
        </td>
        <td></td>
      </tr>
    </tbody>
  </table>
  <% end %>
</div>
