<div class="container" style="width: 50%; margin: auto; margin-top: 30px;">
  <div class="liked-posts-heading">
    <i class="fa-solid fa-heart"></i> <span >いいねした投稿</span>
  </div>
</div>

<table class="liked-posts-table table-hover table-borderless" >
  <tbody class="text-color">
    <% @liked_posts.each do |post| %>
    <tr>
      <td>
        <%= link_to(post.user) do %>
          <%= image_tag post.user.get_profile_image(40, 40), class: "rounded-circle" %>
        <% end %>
      </td>
      <td class="ml-3">
        <div class="liked-posts-user-name"><%= post.user.name %></div>
        <div class="liked-posts-title">
          <%= link_to post.title, post_path(post.id), style: "color: #33231d;" %>
        </div>
      </td>
      <td>
        <% if current_user.likes.exists?(post_id: post.id) %>
          <i class="fa-solid fa-heart mr-1"></i><%= post.likes.count %>
        <% else %>
          <i class="fa-regular fa-heart mr-1"></i><%= post.likes.count %>
        <% end %>
        <div><i class="fa-regular fa-comment-dots mr-1"></i><%= post.post_comments.count %></div>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

<div class="pagination d-flex justify-content-center mt-5 mb-5">
  <%= paginate @liked_posts %>
</div>
