<% if flash[:mypage_edit_success] %>
  <div class="alert success-flash mt-4 text-center w-50 mx-auto">
    <%= flash[:mypage_edit_success] %>
  </div>
<% end %>

<div class="container text-color">
  <table style="margin: auto; border: none;">
    <tr>
      <td colspan="3" style="text-align: center;">
        <%= image_tag @user.get_profile_image(150, 150), class: "rounded-circle" %>
      </td>
    </tr>
    <tr>
      <td colspan="3" style="text-align: center; font-weight: bold; font-size: 50px;">
        <%= @user.name %>
      </td>
    </tr>
    <tr>
      <td colspan="3" style="text-align: center;">
        <%= link_to user_followings_path(@user) do %>
          <span class="text-color">フォロー中: <%= @user.followings.count %>人</span>
        <% end %>
        <%= link_to user_followers_path(@user) do %>
          <span class="text-color">フォロワー: <%= @user.followers.count %>人</span>
        <% end %>
      </td>
    </tr>
    <tr>
      <td colspan="3" class="text-center" style="font-size: 22px;"><%= @user.bio %></td>
    </tr>
    <tr><td colspan="3" style="height: 10px;"></td></tr>
    <tr>
      <td colspan="3" class="text-center">
        <%= link_to edit_mypage_path, class: "text-dark" do %>
          <button class="btn btn-outline-dark post-edit-button mr-1" style="border-radius: 25px;width: 145px;">
          編集 <i class="fa-solid fa-pen"></i></button>
        <% end %>
        <!--<!%= link_to chats_path, class: "text-dark" do %>-->
        <!--  <button class="btn btn-outline-dark post-edit-button ml-1 mr-1" style="border-radius: 25px;">-->
        <!--  チャット <i class="fa-solid fa-comment-dots"></i></button>-->
        <!--<!% end %>-->
        <%= link_to likes_user_path(@user), class: "text-dark" do %>
          <button class="btn btn-outline-dark post-edit-button ml-1" style="border-radius: 25px; width: 145px;">
          いいね <i class="fa-solid fa-heart"></i></button>
        <% end %>
      </td>
    </tr>
  </table>
</div>

<div style="font-weight: bold; font-size: 25px; margin-top: 40px; margin-bottom: 20px;"
     class="text-center text-color">
  【プロフィール】
</div>

<table class="table" style="margin: auto; width: 50%; max-width: 800px;">
  <tbody class="text-color">
    <tr style="line-height: 2; vertical-align: middle;">
      <td style="font-size: 15px;"><strong>性別</strong></td>
      <td style="font-size: 20px;">
        <%= @user.gender_japanese %>
      </td>
      <td style="font-size: 15px;"><strong>年齢</strong></td>
      <td style="font-size: 20px;">
        <%= @user.age_japanese %>
      </td>
    </tr>
    <tr style="line-height: 2; vertical-align: middle;">
      <td style="font-size: 15px;"><strong>喫煙</strong></td>
      <td style="font-size: 20px;">
        <%= @user.smoking_japanese %>
      </td>
      <td style="font-size: 15px;"><strong>飲酒</strong></td>
      <td style="font-size: 20px;">
        <%= @user.drinking_japanese %>
      </td>
    </tr>
    <tr style="line-height: 2; vertical-align: middle;">
      <td style="font-size: 15px;"><strong>行った国数</strong></td>
      <td style="font-size: 20px;">
        <%= @user.country_count.present? ? @user.country_count : '非公開' %>
      </td>
      <td style="font-size: 15px;"><strong>好きな地域</strong></td>
      <td style="font-size: 20px;">
        <%= @user.favorite_area_japanese %>
      </td>
    </tr>
    <tr style="line-height: 2; vertical-align: middle;">
      <td style="font-size: 15px;"><strong>予算</strong></td>
      <td style="font-size: 20px;">
        <%= @user.budget_japanese %>
      </td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>

<div style="font-weight: bold; font-size: 25px; margin-top: 40px; margin-bottom: 20px;"
     class="text-center text-color">
  【投稿一覧】
</div>

<table style="width: 60%; margin: auto; margin-top: 20px;" >
  <tbody class="text-color">
    <% @posts.each do |post| %>
    <tr>
      <td>
        <%= link_to(post.user) do %>
          <%= image_tag post.user.get_profile_image(50, 50), class: "rounded-circle" %>
        <% end %>
      </td>
      <td>
        <div><%= post.user.name %></div>
        <div style="font-weight: bold; font-size: 20px">
          <%= link_to post.title, post_path(post.id), style: "color: #33231d;" %>
        </div>
      </td>
      <td>
        <div id="like_btn_<%= post.id %>">
          <% if current_user.likes.exists?(post_id: post.id) %>
            <i class="fa-solid fa-heart mr-1"></i><%= post.likes.count %>
          <% else %>
            <i class="fa-regular fa-heart mr-1"></i><%= post.likes.count %>
          <% end %>
        </div>
        <div><i class="fa-regular fa-comment-dots mr-1"></i><%= post.post_comments.count %></div>
      </td>
    </tr>
    <tr><td colspan="2" style="height: 10px;"></td></tr>
    <% end %>
  </tbody>
</table>

<div class="pagination d-flex justify-content-center mt-4 mb-5">
  <%= paginate @posts %>
</div>
