<div class="container" style="width: 50%;" >
  <div class="d-flex justify-content-between align-items-center mt-5 mb-5">
    <div style="font-weight: bold; font-size: 30px;">
      <i class="fa-solid fa-map-pin"></i> みんなの投稿
    </div>
    <%= link_to new_post_path, class: "text-dark" do %>
      <button class="btn btn-dark btn-lg">投稿を作成する <i class="fa-solid fa-pen"></i></button>
    <% end %>
    </div>
  </div>


  <% @posts.each do |post| %>
    <div class="shadow card mb-3" style="width: 50%; margin: auto; margin-top: 20px; border-radius: 25px; overflow: hidden;">
      <% if post.post_image.attached? %>
        <%= image_tag post.post_image, class: "card-img-top", style: "width: 100%;" %>
      <% else %>
        <%= image_tag 'no_image2.png', class: "card-img-top", style: "width: 100%;" %>
      <% end %>
      <div class="card-body">
        <h5 class="card-title" style="font-weight: bold; font-size: 20px" ><%= post.title %></h5>
        <p>
          <%= link_to user_path(post.user) do %>
            <%= image_tag post.user.get_profile_image(40, 40), class: "rounded-circle" %>
            <span style="font-weight: bold; margin-right: 5px; color: black;"><%= post.user.name %></span>
          <% end %>
          <i class="fa-regular fa-clock"></i> 投稿日：<%= post.created_at.strftime("%Y年%m月%d日") %>
        </p>
        <p class="card-text"><%= post.body %></p>
        <p class="card-text">
          <div class="d-flex justify-content-between align-items-center">
            <%= link_to post_path(post.id) do %>
              <button class="btn btn-dark ml-2">詳細を見る</button>
            <% end %>
            <div class="d-flex align-items-center mr-5">
              <i class="fa-regular fa-comment-dots fa-2x mr-4"></i>
                <div id="like_btn_<%= post.id %>">
                  <%= render 'user/likes/btn', post: post %>
                </div>
              <!--<% if current_user && post.liked_by?(current_user) %>-->
              <!--  <%= link_to post_likes_path(post), method: :delete, remote: true do%>-->
              <!--    <span style="color: #343a40;"><i class="fa-solid fa-heart fa-2x"></i> -->
              <!--  <% end %>-->
              <!--  <span style="font-size: 24px; margin-left: 6px;"><%= post.likes.count %></span>︎-->
              <!--<% else %>-->
              <!--  <%= link_to post_likes_path(post), method: :post, remote: true do %>-->
              <!--    <span style="color: #343a40;"><i class="fa-regular fa-heart fa-2x"></i> -->
              <!--  <% end %>-->
              <!--  <span style="font-size: 24px; margin-left: 6px;"><%= post.likes.count %></span>-->
              <!--<% end %>-->
            </div>
          </div>
        </p>
      </div>
    </div>
  <% end %>


<div class="pagination d-flex justify-content-center mt-5 mb-5">
  <%= paginate @posts %>
</div>