<div class="text-center">
  <%= flash[:post_success] %>
  <%= flash[:post_edit_success] %>
</div>


<div class="shadow-lg card mb-3 mt-5" style="width: 60%; margin: auto; border-radius: 25px; overflow: hidden;">
  <div class="card-header d-flex justify-content-between align-items-center">
    <div class="d-flex align-items-center">
      <%= link_to user_path(@post.user) do %>
        <%= image_tag @post.user.get_profile_image(50, 50), class: "rounded-circle" %>
        <span style="font-weight: bold; font-size: 20px; margin-left: 10px; color: black;"><%= @post.user.name %>
      <% end %>
    </div>
    <% if current_user == @post.user %>
      <div class="ml-auto d-flex">
        <%= link_to edit_post_path, class: "text-dark text-right mr-2" do %>
          <button class="btn btn-outline-dark">投稿を編集する <i class="fa-solid fa-pen"></i></button>
        <% end %>
        <%= link_to '削除 <i class="fa-solid fa-trash-can"></i>'.html_safe, post_path, method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-outline-danger"%>
      </div>
    <% end %>
  </div>

  <div class="card-body">
    <% if @post.post_image.attached? %>
      <%= image_tag @post.post_image, class: "card-img-top", style: "width: 100%;" %>
    <% else %>
      <%= image_tag 'no_image2.png', class: "card-img-top", style: "width: 100%;" %>
    <% end %>
    <h5 class="card-title" style="font-weight: bold; font-size: 30px; margin-top: 20px;" ><%= @post.title %></h5>
    <i class="fa-regular fa-clock ml-2"></i> 投稿日：<%= @post.created_at.strftime("%Y年%m月%d日") %>
    <span style="margin: 0 6px;">&nbsp;</span>
    <i class="fa-solid fa-rotate-right"></i> 最終変更日：<%= @post.updated_at.strftime("%Y年%m月%d日") %>
    <p class="card-text mt-3" style="font-size: 20px"><%= @post.body %></p>
    <div class="d-flex justify-content-end align-items-center mr-4">
      <div id="like_btn_<%= @post.id %>">
        <%= render 'user/likes/btn', post: @post %>
      </div>
      <!--<% if current_user && @post.liked_by?(current_user) %>-->
      <!--  <%= link_to post_likes_path(@post), method: :delete, remote: true do%>-->
      <!--    <span style="color: #343a40;"><i class="fa-solid fa-heart fa-2x"></i>-->
      <!--  <% end %>-->
      <!--  <span style="font-size: 24px; margin-left: 6px;"><%= @post.likes.count %></span>︎-->
      <!--<% else %>-->
      <!--  <%= link_to post_likes_path(@post), method: :post, remote: true do %>-->
      <!--    <span style="color: #343a40;"><i class="fa-regular fa-heart fa-2x"></i>-->
      <!--  <% end %>-->
      <!--  <span style="font-size: 24px; margin-left: 6px;"><%= @post.likes.count %></span>-->
      <!--<% end %>-->
    </div>
  </div>
</div>








