<div class="container text-color">
  <table style="margin: auto; border: none;">
    <tr>
      <td style="text-align: center;">
        <%= image_tag @user.get_profile_image(150, 150), class: "rounded-circle" %>
      </td>
    </tr>
    <tr>
      <td style="text-align: center; font-weight: bold; font-size: 50px;">
        <%= @user.name %>
      </td>
    </tr>
    <tr>
      <td style="text-align: center;">
        <span class="text-color">フォロー中: <%= @user.followings.count %>人</span>
        <span class="text-color">フォロワー: <%= @user.followers.count %>人</span>
      </td>
    </tr>
    <tr><td style="height: 10px;"></td></tr>
    <tr>
      <td class="text-center">
        <%= link_to '退会 <i class="fa-solid fa-right-from-bracket"></i>'.html_safe, admin_user_path, class: "btn btn-outline-danger button",
          style: "border-radius: 25px;", method: :delete, data: { confirm: "本当に退会しますか？" } %>
      </td>
    </tr>
  </table>
</div>

  <div class="text-center" style="font-weight: bold; font-size: 25px; margin-top: 40px; margin-bottom: 20px;" >
    プロフィール
  </div>

<div class="container text-center">
  <table class="table admin-user-profile-table">
    <tbody class="text-color">
      <tr style="line-height: 2; vertical-align: middle;">
        <td style="font-size: 15px;"><strong>性別</strong></td>
        <td class="profile-item">
          <%= @user.gender_japanese %>
        </td>
        <td style="font-size: 15px;"><strong>年齢</strong></td>
        <td class="profile-item">
          <%= @user.age_japanese %>
        </td>
      </tr>
      <tr style="line-height: 2; vertical-align: middle;">
        <td style="font-size: 15px;"><strong>喫煙</strong></td>
        <td class="profile-item">
          <%= @user.smoking_japanese %>
        </td>
        <td style="font-size: 15px;"><strong>飲酒</strong></td>
        <td class="profile-item">
          <%= @user.drinking_japanese %>
        </td>
      </tr>
      <tr style="line-height: 2; vertical-align: middle;">
        <td style="font-size: 15px;"><strong>行った国数</strong></td>
        <td class="profile-item">
          <%= @user.country_count.present? ? @user.country_count : '非公開' %>
        </td>
        <td style="font-size: 15px;"><strong>好きな地域</strong></td>
        <td class="profile-item">
          <%= @user.favorite_area_japanese %>
        </td>
      </tr>
      <tr style="line-height: 2; vertical-align: middle;">
        <td style="font-size: 15px;"><strong>予算</strong></td>
        <td class="profile-item">
          <%= @user.budget_japanese %>
        </td>
      </tr>
    </tbody>
  </table>
</div>

  <div class="text-center" style="font-weight: bold; font-size: 25px; margin-top: 40px; margin-bottom: 20px;" >
    投稿一覧
  </div>

  <table class="admin-user-posts-table">
    <tbody class="text-color">
      <% @posts.each do |post| %>
      <tr>
        <td>
          <%= link_to admin_user_path(post.user) do %>
            <%= image_tag post.user.get_profile_image(50, 50), class: "rounded-circle" %>
          <% end %>
        </td>
        <td>
          <div class="admin-user-show-posts-user-name"><%= post.user.name %></div>
          <div class="admin-user-posts-title">
            <%= link_to post.title, admin_post_path(post.id), style: "color: #33231d;" %>
          </div>
        </td>
        <td>
          <div><i class="fa-regular fa-heart mr-1"></i><%= post.likes.count %></div>
          <div><i class="fa-regular fa-comment-dots mr-1"></i><%= post.post_comments.count %></div>
        </td>
      </tr>
      <tr><td style="height: 10px;"></td></tr>
      <% end %>
    </tbody>
  </table>

  <div class="pagination d-flex justify-content-center mt-4 mb-5">
    <%= paginate @posts %>
  </div>
</div>