<!DOCTYPE html>
<html>
  <head>
    <title>WanderMate2</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/8cc696f355.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">-->
  </head>

  <body style="background-color: #eeeed3;">
    <nav class="navbar navbar-expand-lg custom-navbar">
      <div class="container" style="margin-left: auto;">
        <% if admin_signed_in? %>
          <%= link_to 'Wander Mate', admin_top_path, class: 'navbar-brand header-logo',
          style: 'font-size: 30px; color: #33231d;' %>
        <% else %>
          <%= link_to 'Wander Mate', root_path, class: 'navbar-brand header-logo',
          style: 'font-size: 30px; color: #33231d;' %>
        <% end %>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <% if user_signed_in? %>
              <li class="mt-3 mr-3">
                <strong style="color: #33231d;">ようこそ、<%= current_user.name %>さん！</strong>
              </li>
              <li class="nav-item">
                <%= link_to new_post_path, class: "nav-link" do %>
                  <button class="btn btn-outline-dark header-button" style="border-radius: 25px;">
                    新規投稿
                  </button>
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to my_page_path, class: "nav-link" do %>
                  <button class="btn btn-outline-dark header-button" style="border-radius: 25px;">
                    マイページ
                  </button>
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to destroy_user_session_path, method: :delete, class: "nav-link text-dark text-right" do %>
                  <button class="btn btn-outline-dark header-button" style="border-radius: 25px;">
                    ログアウト
                  </button>
                <% end %>
              </li>
            <% elsif admin_signed_in? %>
              <li class="mt-3 mr-3">
                ※管理者ログイン中
              </li>
              <li class="nav-item">
                <%= link_to admin_posts_path, class: "nav-link text-dark text-right" do %>
                  <button class="btn btn-outline-dark header-button" style="border-radius: 25px;">投稿一覧</button>
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to admin_users_path, class: "nav-link text-dark text-right" do %>
                  <button class="btn btn-outline-dark header-button" style="border-radius: 25px;">ユーザー一覧</button>
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to destroy_admin_session_path, method: :delete, class: "nav-link text-dark text-right" do %>
                  <button class="btn btn-outline-dark header-button" style="border-radius: 25px;">ログアウト</button>
                <% end %>
              </li>
            <% else %>
              <li class="nav-item">
                <%= link_to new_user_registration_path, class: "nav-link text-dark text-right" do %>
                  <button class="btn btn-outline-dark header-button" style="border-radius: 25px;">会員登録</button>
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to new_user_session_path, class: "nav-link text-dark text-right" do %>
                  <button class="btn btn-outline-dark header-button" style="border-radius: 25px;">ログイン</button>
                <% end %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </nav>

    <% if user_signed_in? || admin_signed_in? %>
      <div style="text-align: right; margin-right: 215px;">
        <%= render 'layouts/search' %>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>

<footer>
  <%= render 'layouts/footer' %>
</footer>